@keyframes transition {
    0% {
        margin-top: -70px;
        opacity: 0;
    }

    100% {
        margin-top: 0;
        opacity: 1;
    }
}

@keyframes anim__couverts {

    0%,
    100% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }

    15% {
        transform: translateX(-30px) rotate(-6deg);
    }

    30% {
        transform: translateX(15px) rotate(6deg);
    }

    45% {
        transform: translateX(-15px) rotate(-3.6deg);
    }

    60% {
        transform: translateX(9px) rotate(2.4deg);
    }

    75% {
        transform: translateX(-6px) rotate(-1.2deg);
    }
}

@keyframes spinner {
    0% {
        visibility: visible;
        opacity: 1;
    }

    30% {
        opacity: 0.9
    }

    80% {
        opacity: 0.8
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes scaleIn {
    from {
        transform: scale(.5, .5);
        opacity: .5;
    }

    to {
        transform: scale(1.5, 1.5);
        opacity: 0;
    }
}