@mixin button{
    background: $degrade;
    color: $color-one;
    border:none;
    border-radius: 30px;
    padding:18px;
    box-shadow: 0px 2px 8px darken($color-two, 30%);
    transition: all 400ms;
    margin-bottom: 20px;
    &:hover {
        filter: brightness(1.2);
        box-shadow: 0px 2px 8px darken($color-two, 60%);
    }
}

@mixin tablette {
    @media all and (min-width:map-get($breakpoints, mobile)) and (max-width:map-get($breakpoints, tablette))
    {@content;}
}

@mixin ordinateur {
    @media all and (min-width:map-get($breakpoints, tablette))
    {@content;}
}