.loader {
        height: 100%;
        background: white;
        margin: auto;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 20;
        animation: spinner 2s linear;
        visibility: hidden;
&__contenu {
    width: 400px;
    height: 400px;
    border-radius:80px; 
    margin:auto;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    }
&__couverts {
        font-size:50px;
        color: white;
        animation: anim__couverts 5s ease 0s infinite normal both;
        transition: color 400ms ease-in-out;
        z-index:100;
    }
&__circle {
    border-radius: 50%;
    background-color: #9356DC;
    width: 150px;
    height: 150px;
    position: absolute;
    top:30%;
    left:30%;
    opacity: 0;
    animation: scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32);
    &--one{
        animation-delay: -3s
    }
    &--two{
        animation-delay: -2s
    }
    &--three{
        animation-delay: -1s
    }
    &--four{
        animation-delay: 0s
    }
  }}

