.restaurants {
  background-color: $color-two;
  display:flex;
  flex-direction: column;
  align-items: center;
  h2 {
      align-self: flex-start;
      margin-left: 30px;
  }
}

.card {
    width: 80%;
    background-color: white; 
    box-shadow: 0px 10px 20px rgb(231, 231, 231); 
    border-radius: 20px;
    margin-bottom: 5%;
    font-size:14px;
    a {
    color:black; 
    text-decoration: none;
    }
   
    &__image {
      width: 100%;
      height:150px;
      margin:auto;
      border-radius: 20px 20px 0px 0px;
      position : relative;
      &--new {
        background-color: $color-five;
        display:inline-block;
        padding: 8px;
        color: darken($color-five, 50%);
        position: absolute;
        top: 8%;
        right: 4%;
      }
    }
    &__image img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      border-radius: 20px 20px 0px 0px;
    }
    &__body {
      width:90%;
      padding: 0 15px 15px 15px;
      display:flex;
      justify-content: space-between;
      align-items: center;
      &--text {
        h3 {
          font-size:18px;
          margin-bottom: 6px;
        }
        p {
          margin: 0px;
        }
      }
      &--ico{
        font-size: 28px;
        color: darken($color-two, 50%);
        position:relative;
      }
      &--icobis {
        position:absolute;
        top:0%;
        left:0%;
        opacity: 0%;
        background: $degrade;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 400ms;
        &:hover {
          opacity:100%;
        }
      }
     }
  
}