.fonctionnement {
    h2 {
        margin-left: 30px;
    }

    &__liste {
        margin: auto;
        width: 80%;
        list-style: none;
        counter-reset: li;

        @include ordinateur {
            display: flex;
            width: 95%;
        }

        li {
            counter-increment: li;
            background-color: $color-two;
            border-radius: 20px;
            height: 75px;
            width: 100%;
            margin-bottom: 30px;
            line-height: 75px;
            font-weight: bold;
            box-shadow: 0px 4px 10px darken($color-two, 10%);
            font-size: 16px;

            @include ordinateur {
                min-width: 30%;
                margin-right: 3%;
            }

            &::before {
                content: counter(li);
                display: inline-block;
                color: $color-one;
                background-color: $color-three;
                border-radius: 20px;
                padding: 4px;
                width: 20px;
                height: 20px;
                text-align: center;
                margin-left: -10px;
                line-height: 1.2;
            }

            &:hover {
                background-color: lighten($color-three, 35%);
            }
        }
    }

    &__ico {
        margin: 0 20px 0 20px;
        color: darken($color-two, 50%);
    }

}