    #logo {
        display:flex;
        align-items: center;
        img {
            width:40%;
            display: block;
            margin-top:5%;
            margin-bottom:3%;
            margin-left:auto;
            margin-right:auto;
            @include ordinateur {
                width:20%;
                margin-top: 3%;
               }
        }
        .arrow {
            margin-left: 20px;
            margin-right: -20px;
            color:black;
            @include ordinateur {
               font-size: 40px;
               }
        }
    }
       



